# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node.js and project
node_modules
coverage/
jsdocs/
*.log
/.tmp
.eslintcache

# Since our node operations will run in a container, we're opting to not deal in scm for package-lock files
package-lock.json
